body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  background: url("https://raw.githubusercontent.com/MoltenSteelDragon/main/main/midterm/visual/pexels-photo-129731.webp");
  padding: 10px;
}
.left {
  margin-left: 5%;
  margin-right: 5%;
}
.right {
  float: right;
  margin-left: 5%;
  margin-right: 5%;
}
#topmenu {
  background: #F5F5DC;
  padding: 10px 20px;
  border-bottom: 1px solid #F5F5DC;
  border-top: 1px solid #F5F5DC;
}
#topmenu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  
}
#topmenu li {
  display: inline;
  padding: 0 20px 0 0
}
